@page "/Account/Profile/{id}"
@model ProfileModel
@{
    ViewData["Title"] = "User Profile";
}
<p>User ID: @User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value</p>

<h2>User Profile</h2>


@if (Model.Username != null)
{
    <p><strong>Username:</strong> @Model.Username</p>
    <p><strong>Email:</strong> @Model.Email</p>
}
else
{
    <p>User not found.</p>
}
