@page
@model MediaWave.App.Pages.Videos

@{
    Layout = null;
}
<p>User ID: @User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value</p>

<!DOCTYPE html>
<p>User ID: @User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value</p>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2>test</h2>
</div>
</body>
</html>